{% extends 'front/front-base.html.twig' %}

{% block body %}

<div class="wrapper">
  <section class="header">
    <header class="navbar-menu ">
        <nav class="   navbar-expand-lg navbar-light  navbar-color">
            <a class="navbar-brand" href="#">O'Refuge</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class=" active">
                  <a class="" href="#">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="">
                  <a class="" href="#">Ils ont été adoptés</a>
                </li>
                <li class="">
                  <a class="" href="#">Les refuges</a>
                </li>
                <li class="">
                  <a class=" disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
            </div>
          </nav>

    </header>
  </section>
</div>




{% endblock %}