{# templates/emails/registration.html.twig #}
<h3>Merci de nous avoir contactés sur ORefuge</h3>

<p>Bonjour {{ contact.firstname }}!</p>
<br />
<br />
<p>Votre message envoyé sur ORefuge nous a bien été transmis.</p> 
<p>Nous vous remercions sincèrement de l'intérêt que vous portez à notre site et à la cause animale.</p> 
<p>Notre équipe reviendra vers vous très prochainement.</p>
<br />
<p>Merci et à très bientôt !</p>
